/* ==================== Global ==================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

@font-face {
    font-family: morvarid;
    src: url(/font/BMORVARD.TTF);
}
/* ==================== Navbaar ==================== */
header nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;


}

header nav a {
    text-decoration: none;
    padding: 5px;
    font-family: cursive;
    font-size: 20px;
}

header nav a:hover {
    text-decoration: underline;
}
/* ==================== Main Card ==================== */
.row {
    display: grid;
    grid-template-areas:
        "a a a a a a"
        "b b b c c c"
        "d d d e e e";
    gap: 20px;
}

#card1 {
    grid-area: a;
    width: 80%;
    display: flex;
    font-size: 1.3em;
}

#card2 {
    grid-area: b;
    width: 600px;
    height: 95vh;
}

#card3 {
    grid-area: c;
    width: 600px;
    height: 95vh;
}

#card4 {
    grid-area: d;
    width: 600px;
    height: 95vh;
}

#card5 {
    grid-area: e;
    width: 600px;
    height: 95vh;
}

.card {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 33px -2px rgba(138, 136, 241, 0.59);
    padding: 20px;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
    font-size: 1.1em;

}


.card:hover {
    transform: rotateY(180deg);
    opacity: 50%;


}

.card h1,
p {
    font-family: morvarid;
}

.card img {
    border-radius: 40px;
    width: 450px;
    height: 250px;
    margin: 10px;
}


.card .en {
    display: none;
    font-size: 17px;
}

.card:hover .en {
    display: block;
    transform: rotateY(180deg);

}

.card:hover .fa {
    display: none;
}

/* ==================== Short Card ==================== */

.shorts .shortShop {
    display: grid;
    grid-template-areas:
        "h1 h1 h1"
        "short short short";
    margin: 100px 20px 20px 20px;
    font-family: morvarid;
}

.shorts .shortShop h1 {
    margin: 30px;
    grid-area: h1;
    text-align: center;
}

.shorts .shortShop {
    grid-area: short;
}

.shorts .shortEntertainment {
    display: grid;
    grid-template-areas:
        "h1 h1 h1"
        "short short short";
    margin: 100px 20px 20px 20px;
    font-family: morvarid;
}

.shorts .shortEntertainment h1 {
    grid-area: h1;
    text-align: center;
    margin: 30px;
}

.shorts .shortEntertainment {
    grid-area: short;
}


.shorts .short {
    display: flex;
    box-shadow: 0px 0px 10px 0px #f5adad;
    margin: 10px;
    border-radius: 10px;
}

.shorts .short:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 0px #8ae67e;
}

.shorts .short img {
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 10px;
}

.shorts .short div {
    margin: 10px;
}
/* ==================== Footer ==================== */
footer {
    color: white;
    background-color: #5f5d5d;
    font-family: morvarid;
    text-align: center;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}
/* ==================== Proposal ==================== */
footer .Proposal a {
    text-decoration: none;
    color: white;
    display: flex;
    padding-bottom: 10px;
    font-family: morvarid;
}
/* ==================== Email Information ==================== */
.footer form {
    display: flex;
    text-align: center;

}

.footer form button {
    background-color: orange;
    color: black;
    font-family: morvarid;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.footer form input {
    height: 40px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 0.2px solid black;
    font-family: morvarid;
}